@charset "UTF-8";

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image:linear-gradient(to right,#12C0E6,#2198FA);
}

h1#principal{
    text-align: center;
    color: #19FDE9;
    text-shadow:2px 2px 2px rgb(0, 0, 0);
    text-size-adjust: 3em;
}

h2#h2esquerda{
    text-align: end;
}

h2{
    color: blue;
}

p{
    text-align: justify;
}

h2#h2esquerda2{
    text-align: end;
}
