@charset "UTF-8";

body {
    background-color: rgb(198, 252, 2);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    text-shadow: 1px 1px 5px rgb(46, 82, 4);
    background-color: rgb(167, 20, 235);
    color: white;
}

h1{
    color: rgb(34, 66, 2);
}

h2{
    color: rgb(59, 90, 28);
}

.basico{
    color: rgb(1, 52, 194);
}

.intermediario{
    color: rgb(19, 19, 107);
}

.avançado{
    color: rgb(65, 8, 119);
}

.destaque{
    background-color: rgba(7, 143, 7, 0.247);
}